.body {
	z-index: 0;
}

.card {
	margin: 30px auto;
	border: 1px solid #575757;
	border-radius: 14px;
	background-size: contain;
	width: 80%;
	aspect-ratio: 16 / 9;
	position: relative;
	display: grid;
	align-items: end;
	justify-content: start;
	box-shadow: 5px 5px 5px 2px black;
	transition: transform 1s ease;
}

.card:hover {
	transform: scale(1.125);
}

div .text {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	font-size: 12px;
	text-align: center;
	border-radius: 0px 0px 14px 14px;
	color: #ffffff;
	background-color: #888888;
}
