.body {
	z-index: 0;
	margin: 30px 0px 100px 0px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px 50px;
	align-content: center;
	justify-content: center;
}

.card {
	opacity: 1;
	border: 1px solid #575757;
	border-radius: 14px;
	background-size: contain;
	width: 320px;
	height: 180px;
	position: relative;
	display: grid;
	align-items: end;
	justify-content: start;
	box-shadow: 5px 5px 5px 2px black;

	opacity: 0;
	transform: translateY(40px) scale(0.8);
	animation: fadeIn 1.2s ease-in forwards;
	animation-timeline: view();
	animation-range: entry 0% cover 30%;
}


div .text {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	font-size: 12px;
	text-align: center;
	border-radius: 0px 0px 14px 14px;
	color: #ffffff;
	background-color: #2E2E2E;
}

@media (min-width: 960px) {
	.card {
		width: 32vw;
		height: 18vw;
		border-radius: 1.4vw;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(40px) scale(0.8);
	}

	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}