body {
	margin: 0;
	padding: 0;
	background: linear-gradient(45deg,pink,violet);
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
	overflow: hidden;
	position: sticky;
	top: 0;
	background-color: #38444d;
}

li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li .hover:hover {
	background-color: red;
}

.selected {
	background-color: #20272C;
}

.remove {
	display: none;
}